@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/popover2/lib/css/blueprint-popover2.css';
@import url('http://fonts.cdnfonts.com/css/gidole');

body {
    font-size: 16px;
    font-family: 'Gidole', sans-serif;
    display: inline-block;
    width: 100%;
}

.recipe-toaster {
    top: 42px !important;
}
